<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SLC?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">slc</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="br/com/xkinfo/slc/Model/Tipomedidores.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Usuario.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Medidor.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Competencia.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Condominio.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Abastecimento.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Remessa.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Mandato.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Retorno.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Leitura.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Sindico.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Tipouc.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/UnidadeConsumidora.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Ocorrencia.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Medidoruc.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/UnidadeConsumidora.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/TipoMedidor.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
