<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SLC?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">slc</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="br/com/xkinfo/slc/Model/Tipomedidores.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Usuarios.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Medidores.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Competencias.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Condominios.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Abastecimentos.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Remessas.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Mandatos.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Retorno.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Leituras.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Sindicos.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Tiposuc.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Unidadeconsumidora.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Ocorrencias.hbm.xml"/>
    <mapping resource="br/com/xkinfo/slc/Model/Medidoresucs.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
